@{
    ViewBag.Title = "Upload From Excel";
}

<a asp-controller="Persons" asp-action="Index" class="mt-2"><i class="fa-sharp fa-solid fa-arrow-left fa-2xl"></i></a>
<h3 class="w-50 m-auto text-center fw-bold">Upload Countries</h3>
<div class="w-50 m-auto">
<form asp-action="UploadFromExcel" asp-controller="Countries" enctype="multipart/form-data" method="post">
    <div class="col-sm-6 col-lg-12 my-4">
         <input type="file" name="excelFile" class="form-control"/>
    </div>
       
    <div class="w-25 m-auto text-center">
         <button type="submit" class="btn btn-success p-2 w-100">Upload</button>
    </div>
    <div class="w-100 m-auto p-5 text-center">
        @if (!string.IsNullOrEmpty(ViewBag.Errors))
        {
            <span class="alert alert-danger w-100">@ViewBag.Errors</span>
        }
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <span class="alert alert-success w-100">@ViewBag.Message</span>
        }
    </div>
</form>
</div>
